body {
    font-family: 'Do Hyeon', sans-serif;
    background-color: #ffffff;
    box-sizing: border-box;
    color: #3a3a3a;
  }
  .file-upload {
      padding: 15% 3%;
      margin: 0 auto;
      border-radius: 10px;
      border: solid 1.5px #f6f7fa;
      background-color: #f6f7fa;
  }
  .file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1FB264;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824B;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .file-upload-btn:hover {
    background: #1AA059;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
  }
  
  .file-upload-content {
    display: none;
    text-align: center;
  }
  #loading {
    display: none;
  }
  
  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
  
  .image-upload-wrap {
      width: 60%;
      margin: 0 auto;
      position: relative;
      object-fit: contain;
      border-radius: 10px;
      border: dashed 1.5px #3a3a3a;
      background-color: #ffffff;
  }
  
  .image-dropping,
  .image-upload-wrap:hover {
      background-color: #3a3a3a82;
      border: 1.5px dashed #ffffff;
  }
  
  .image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
  }
  
  .drag-text {
    text-align: center;
  }
  
  .drag-text h3 {
    font-weight: 500;
    text-transform: uppercase;
  }
  
  .file-upload-image {
    max-height: 60%;
    max-width: 60%;
    margin: auto;
    padding: 10px;
  }
  
  .try-again-btn {
    border-radius: 40px;
    border: solid 1.5px #3a3a3a;
    background-color: #3a3a3a;
  }
  
  .try-again-text {
    display: block;
    font-size: 1.5rem;
    text-align: center;
    color: #ffffff;
    padding: 4px 15px;
  }
  
  .remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .remove-image:active {
    border: 0;
    transition: all .2s ease;
  }
  
  .navbar-light .navbar-brand {
    line-height: 1.68;
    text-align: left;
    color: #3a3a3a; 
  }
  
  .navbar-light .navbar-toggler {
      border-color: #ffffff;
  }
  
  .section {
      margin-top: 50px;
  }
  
  .title {
    line-height: 1.67;
    text-align: center;
    color: #3a3a3a;
    margin-left: 20%;
    margin-right: 20%;
  }
  
  .subtitle {
    line-height: 1.53;
    text-align: center;
    color: #3a3a3a;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 20%;
    margin-right: 20%;
  }

  .sr-only {
    line-height: 1.53;
    text-align: center;
    color: #3a3a3a;
    margin-left: 20%;
    margin-right: 20%;
  }

  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    html {
      font-size: 10px;
    }
      .navbar-brand {
          font-size: 2rem;
      }
  }
  
  
  .youtube-link {
      font-size: 1.5rem;
      line-height: 1.71;
      text-align: center;
      color: #1FB264;
      text-decoration: underline;
  }
  
  .youtube-link:hover {
      font-size: 1.5rem;
      line-height: 1.71;
      text-align: center;
      color: #1FB264;
      text-decoration: underline;
  }
  
  .youtube-icon {
      width: 30px;
      height: 27.262px;
  }
  
  .upload {
      width: 20%;
  }
  
  .upload-text {
      width: 58%;
      font-size: 1.5rem;
      line-height: 1.53;
      text-align: center;
      color: #3a3a3a;
      margin: 0 auto;
  }

  .footer {
    background-color: initial;
    color: initial;
  }

  .bar-container {
    height: 2.7rem;
  }
  
  .warrenbuffett-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(117, 204, 84, 0.2);
  }
  .warrenbuffett-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(117, 204, 84, 1);
  }
  .johntempleton-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(106, 156, 252, 0.2);
  }
  .johntempleton-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(106, 156, 252, 1);
  }
  .peterlynch-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(27, 175, 234, 0.2);
  }
  .peterlynch-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(27, 175, 234, 1);
  }
  .georgesoros-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(251, 176, 59, 0.2);
  }
  .georgesoros-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(251, 176, 59, 1);
  }
  .johnbogle-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(195, 140, 102, 0.2);
  }
  .johnbogle-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(195, 140, 102, 1);
  }
  .carlicahn-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(49, 132, 155, 0.2);
  }
  .carlicahn-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(49, 132, 155, 1);
  }
  .andrekostolany-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(235, 166, 190, 0.2);
  }
  .andrekostolany-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(235, 166, 190, 1);
  }
  .johnneff-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(215, 141, 71, 0.2);
  }
  .johnneff-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(215, 141, 71, 1);
  }
  .raydalio-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(0, 27, 61, 0.2);
  }
  .raydalio-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(0, 27, 61, 1);
  }
  .howardmarks-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(255, 0, 0, 0.2);
  }
  .howardmarks-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 1);
  }
  .stephenschwarzman-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(0, 63, 255, 0.2);
  }
  .stephenschwarzman-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(0, 63, 255, 1);
  }
  .jimsimons-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(0, 65, 0, 0.2);
  }
  .jimsimons-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(0, 65, 0, 1);
  }
  .billgross-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(244, 209, 0, 0.2);
  }
  .billgross-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(244, 209, 0, 1);
  }
  .jimrogers-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(97, 105, 135, 0.2);
  }
  .jimrogers-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(97, 105, 135, 1);
  }
  .kenfisher-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(103, 195, 200, 0.2);
  }
  .kenfisher-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(103, 195, 200, 1);
  }
  .mohnishpabrai-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(100, 50, 100, 0.2);
  }
  .mohnishpabrai-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(100, 50, 100, 1);
  }
  .charliemunger-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(255, 104, 51, 0.2);
  }
  .charliemunger-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(255, 104, 51, 1);
  }
  .percent-text {
    font-size: 1rem;
    color: #ffffff;
  }
  .animal-label {
      width: 20%;
      text-align: left;
      height: 2rem;
  }
  #label-container {
      width: 80%;
      margin: 0 auto;
  }
  .result-message {
      font-size: 2rem;
  }
  
  .animal-explain {
      font-size: 1.5rem;
  }
  .warrenbuffett-animal-title {
      color: #75CC54;
  }
  .warrenbuffett-animal-photo {
    width: inherit;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  .johntempleton-animal-title {
      color: #6A9CFC;
  }
  .johntempleton-animal-photo {
    width: inherit;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  .peterlynch-animal-title {
      color: #1BAFEA;
  }
  .peterlynch-animal-photo {
    width: inherit;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  .georgesoros-animal-title {
      color: #FBB03B;
  }
  .georgesoros-animal-photo {
    width: inherit;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  .johnbogle-animal-title {
      color: #C38C66;
  }
  .johnbogle-animal-photo {
    width: inherit;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  .carlicahn-animal-title {
      color: #31849B;
  }
  .carlicahn-animal-photo {
    width: inherit;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  .andrekostolany-animal-title {
      color: #EBA6BE;
  }
  .andrekostolany-animal-photo {
    width: inherit;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  .johnneff-animal-title {
      color: #D78D47;
  }
  .johnneff-animal-photo {
    width: inherit;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  .raydalio-animal-title {
      color: #001B3D;
  }
  .raydalio-animal-photo {
    width: inherit;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  .howardmarks-animal-title {
      color: #FF0000;
  }
  .howardmarks-animal-photo {
    width: inherit;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  .stephenschwarzman-animal-title {
      color: #003FFF;
  }
  .stephenschwarzman-animal-photo {
    width: inherit;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  .jimsimons-animal-title {
      color: #004100;
  }
  .jimsimons-animal-photo {
    width: inherit;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  .billgross-animal-title {
      color: #F4D100;
  }
  .billgross-animal-photo {
    width: inherit;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  .jimrogers-animal-title {
      color: #616987;
  }
  .jimrogers-animal-photo {
    width: inherit;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  .kenfisher-animal-title {
      color: #67C3C8;
  }
  .kenfisher-animal-photo {
    width: inherit;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  .mohnishpabrai-animal-title {
      color: #643264;
  }
  .mohnishpabrai-animal-photo {
    width: inherit;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  .charliemunger-animal-title {
      color: #FF6833;
  }
  .charliemunger-animal-photo {
    width: inherit;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }

  h1 {
    font-weight: 900;
    font-size: 300%;
    text-align: center;
    margin-top: 4rem;
    color: #3a3a3a;
    line-height: 1.2;
  }

  .dictionary {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 4rem auto;
    max-width: 90%;
  }

  .investors {
    width: inherit;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px #cccccc;
  }
  
  a {
    color: inherit;
    font-weight: 600;
    text-decoration: none;
    border-bottom: solid 2px lighten(color_secondary, 10%);
  }
  
  .dictionary>.term {
    text-align: center;
    max-width: 20rem;
    margin-bottom: 3rem;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 
      0 2px 0    rgba(0,0,0,0.05),
      0 5px 20px rgba(0,0,0,0.1);
    background-color: #fff;
    transition: all 100ms ease-in-out;
  }
  
  
  .dictionary>.term>dt {
    margin-bottom: 1rem;
  }
  
  dt {
    font-size: 120%;
    line-height: 1;
  }
  
  dd {
    font-size: 100%;
    margin-left: 0;
  }
  
  dd dt {
    margin-top: 1rem;
    margin-bottom: 0.25rem;
    font-weight: 600;
    font-size: inherit;
  }
  
  dd dl {
    font-size: 90%;
    margin: 1rem auto 0 auto;
    letter-spacing: 0.33px;
    max-width: 15rem;
  }
  
  dd dl .term {
    margin-bottom: 1rem;
  }